
<h1>Файл слишком большого размера</h1>
<p>Попробуйте загрузить другой файл, меньшего размера</p>


<button class="btn btn-success  my-2 mb-lg-n4"
        action="@Url.Action(nameof(HomeController.Index))">Вернуться на главную</button>